
.char-page{
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 100dvh;
}
#super-page {
  background: linear-gradient(115deg,rgb(177, 171, 128) 0%, rgba(253, 187, 45, 1) 100%);;
  color: var(--dark-red);
}
#magicus-page {
  background: linear-gradient(115deg, rgba(173, 216, 230, 1) 0%, rgba(135, 206, 235, 1) 100%);
  color: var(--dark-yellow);
}
#impro-page {
  background: linear-gradient(115deg, rgba(144, 238, 144, 1) 0%, rgba(60, 179, 113, 1) 100%);
  color: var(--dark-yellow);
}
#nadal-page {
  background: linear-gradient(115deg, rgba(144, 238, 144, 1) 0%, rgba(255, 99, 71, 1) 100%);
  color: var(--dark-red);
}
.char-header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  overflow: hidden;
  position: relative;
}
#super-header {
  background-color: var(--red);
  color: var(--dark-yellow);
}

#nadal-header {
  background-color: var(--green);
  color: var(--red);
}

#impro-header {
  background-color: var(--green);
  color: var(--dark-yellow);
}

#magicus-header {
  background-color: var(--blue);
  color: var(--dark-yellow);
}
.char-title{
  position: absolute;
  font-family: var(--super-font);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#super-title{
  color: var(--dark-yellow);
  font-family: var(--super-font);
}
#nadal-title{
  color: var(--red);
  font-family: var(--nadal-font);
}
#impro-title{
  color: var(--dark-yellow);
  font-family: var(--impro-font);
}
#magicus-title{
  color: var(--dark-yellow);
  font-family: var(--magicus-font);
}

.char-logo:hover{
  transform: rotate(-5deg) scale(1.1);  
}

.char-main{
  width: 90%;
  margin: auto;
  padding-left: 1dvw;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 3dvh;
}
.char-img-left{
  height: 20vh;
  margin: 2vh 0 0 2vh;
  width: auto;
  align-self: flex-start;
}
.char-logo{
  height: 16vh;
  width: auto;
  margin: 2vh;
  cursor:pointer;
  transition: transform 0.2s ease;
}
.char-img-right{
  height: 20vh;
  margin: 2vh 2vh 0 0;
  width: auto;
  align-self: flex-start;
}
.char-info{
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-left: 2vw;
  padding-right: 2vw;
}


.char-subtitle{
  font-weight: 400;
  font-style: normal;
  font-family: var(--title-font);
  margin: auto;
  text-align: center;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.char-fotos {
    width: 40%;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.swiper-slide img {
    align-self: center;
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    
    border-radius: 13px;
}

.mySwiper .swiper-slide-active img {
    position: relative;
    border: 0.5dvh solid var(--dark-yellow);
}

.swiper-button-next, .swiper-button-prev {
    display: none !important;
}

.data-char{
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
}
.data-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;             /* Full width of parent */
  max-width: 800px;        /* Optional: limit maximum width */
  margin: 3vh auto;          /* Center horizontally */
  aspect-ratio: 16 / 9;    /* Modern CSS way to maintain 16:9 */
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.cabalgadas-cont {
  width: 90%;
  margin: auto;
  padding: 2vh 2vw;
  text-align: center;
}
.cabalgada-img {
  float: right;
  width: 50%;
  height: auto;
  margin-bottom: 1vh;
}
@media only screen and (orientation: portrait) {
  .char-logo{
    height: 15vh;
    width: auto;
    padding: 2vh;
    margin:0;
  }
  .char-title{
    max-width: 35%;
    word-wrap: break-word;
    position: relative;
    transform: none;
    top:0;
    left:0;
  }
  .char-header{
    width: 100%;
    height: 15dvh;
    padding: 1vh;
    padding-right: 10vw;;
    gap: 1vh;
    position: relative;
    display: flex;
    padding:0;
  }
  .char-img-right{
    height: 14.5vh;
    margin: 0.5vh 0.5vh 0 0;
  }
  .char-img-left
  .char-title{
    position: static;
    transform: none;
  }
  .char-info{
    width: 100%;
    padding: 0;
  }
  .char-subtitle{
    height: auto;
    margin: 2vh 0;
  }
  .char-fotos {
      width: 100%;
      height: auto;
      margin-top: 2vh;
  }
  .data-char{
    margin-top: 3vh;
    margin-bottom: 3vh;
    flex-direction: column;
    height: auto;
    gap: 0.5vh;
  }
  .data-block{
    flex-direction: row;
    gap: 1.5vw;
  }
}