.splash-screen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  z-index: 9999;
  animation: fadeOut 0.6s ease forwards;
  animation-delay: 2s;
}

.splash-logo {
  width: 90dvw;
  height: auto;
  opacity: 0;
  transform: scale(0.1);
  animation: popIn 3s ease forwards;
}

@keyframes popIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* @media only screen and (orientation: portrait) {
  .splash-logo {
    height: 70dvw;
  }
  
} */